camel:
  server-port: ${PORT:9000}
  springboot:
    main-run-controller: true
  dataformat:
    json-jackson:
      auto-discover-object-mapper: true

dfspids: "DFSPID"

bpmn:
  flows:
    payment-transfer: "PayerFundTransfer-{dfspid}"
    transaction-request: "PayeeTransactionRequest-{dfspid}"
    party-registration: "PartyRegistration-{dfspid}"

zeebe:
  client:
    max-execution-threads: 100
    number-of-workers: 5
    evenly-allocated-max-jobs: "#{${zeebe.client.max-execution-threads} / ${zeebe.client.number-of-workers}}"
  broker:
    contactpoint: "4ae8d42c-5f02-4e18-b4d4-f4d3d92fc824.zeebe.camunda.io:443"
    audience: "4ae8d42c-5f02-4e18-b4d4-f4d3d92fc824.zeebe.camunda.io"
    clientId: "ruU.ptno_wct_PXW~ngW4Pp0A0QWw.E1"
    clientSecret: "is20pecUw4p_9s3DakWcayYPdDn.GhWfmkm7jtznSErP.ed1iR.z.Qg97EBVz~Pc"

rest:
  authorization:
    enabled: false
    host: http://localhost:8080